//color variables
$primary-color: #00AEB3;
$secondary-color: #FFFFFF;

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: -webkit-fill-available;
    min-width: 100vw;
    // background-color: white;
}


.header { 
    height: 15vh;
    // top: 0;
    // left: 0;
    // width: 100%;
    background-color: $primary-color;
    color: $secondary-color;

    &__image{
        height: 14vh;
        margin-left: 2vmin;
        margin-top: 0.5vh;
    }
}

.content {
    // min-height: 70vh;
    margin-top: 3vh;
    // margin-bottom: 3vh;
}